.sidebar-container {
    width: 100%;
    height: calc(100vh - 64px);
}

.sidenav-content {
    height: 100%;
    padding: 1rem;
    overflow: scroll;
}

.example-sidenav {
    padding: 20px;
}
.example-spacer {
    flex: 1 1 auto;
}